* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:oswald, helvetica, arial, sans-serif;
	background: url(Background.png);
	background-size:cover;
	background-attachment: fixed;
	background-position:0 0px;
}

.contenedor {
	width: 90%;
	max-width:1000px;
	margin:auto;
}

#particles-js {
	width: 100%;
	height:100%;
	position: fixed;
	background:rgba(0,0,0,.8);
}

header {
	position: relative;
	height: auto;
}

header .menu {
	background:rgba(255,255,255,.7);
	overflow: hidden;
}

header .logo {
	color:rgba(0,0,0,.8);
	float: left;
	font-size:30px;
	line-height:80px;
}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	color:rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size:18px;
	padding:0 20px;
	line-height:80px;
}

header nav ul li:hover {
	background:rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
}

header nav ul li a:hover {
	color:#fff;
}

/* Texto Inicial */
.texto {
	padding:200px 0;
	text-align: center;
	color:#fff;
	position: relative;
	font-weight: 400;
}

.texto h2, .texto p {
	background: rgba(0,0,0,.8);
	display:inline-block;
	padding:10px 20px;
}

.texto h2 {
	font-size:40px;
	letter-spacing: 2.5px;
	font-weight: normal;
}

.texto p {
	font-size:20px;
	letter-spacing: 2.5px;
}

/* Principal */
.principal {
	position: relative;
	color:#000;
}

.principal article {
	padding:20px;
	background:#fff;
	margin-bottom: 20px;
}

.principal article p {
	margin-bottom: 20px;
	line-height:24px;
	font-family:helvetica, arial, sans-serif;
}

.principal article .fecha {
	color:#939393;
}
